/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1380px) {
  .btn-scroll-top {
    top: auto;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 15px;
  }
}
@media only screen and (max-width: 1300px) {
  .input-title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1200px) {
  .menu {
    font-size: 14px;
  }
  .menu li {
    margin: 0 20px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
  .auto-complection {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  footer .logo {
    margin: 0 auto 0 0;
  }
  footer .menu {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px auto 0;
  }
}
@media only screen and (max-width: 992px) {
  header .menu {
    display: none;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-base-wrapper .btn-group {
    margin: 0;
  }
  .form-bailiff .btn-group-100 .btn:last-child {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .radio-group {
    margin: 0 0 24px;
  }
  .search-base-wrapper .btn-group-link {
    margin: 14px 0 0;
  }
  .search-base-wrapper .btn-group-link .btn {
    margin: 0 0 10px;
    width: 100%;
  }
  .list-result-information {
    margin: 0 0 14px;
    font-size: 16px;
  }
  .list-result-information li {
    margin: 0 0 10px;
  }
  .list-result-information li:last-child {
    margin: 0;
  }
  .form-bailiff .subtitle {
    font-size: 16px;
  }
  .mb-48 {
    margin-bottom: 24px;
  }
  .form-bailiff .text-description {
    margin: 20px 0;
  }
  .form-bailiff-total {
    margin: 24px 0;
  }
  .advantages-box h3 {
    font-size: 18px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .advantages-box, .for-whot-box, .reviews-box, .question-box {
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .title-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title-wrapper h1 {
    width: 100%;
  }
  .auto-complection {
    margin: 10px 0 0;
  }
  h1 {
    font-size: 24px;
    width: 100%;
    margin: 0 0 10px;
  }
  .search-base-wrapper {
    padding: 30px 20px;
  }
  .search-base-wrapper .text-title {
    font-size: 16px;
    margin: 20px 0;
  }
  .next-step {
    margin: 0;
  }
  .file-upload-result__item {
    margin: 0 20px 14px 0;
  }
  .file-upload-result__item:last-child {
    margin: 0 0 14px 0;
  }
  thead {
    font-size: 16px;
  }
  .table td {
    padding: 10px 15px;
  }
  .menu-documents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .menu-documents li {
    margin: 0 0 10px;
  }
  .logo {
    max-width: 160px;
  }
}
@media only screen and (max-width: 650px) {
  .table {
    font-size: 13px;
  }
}
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 22px;
  }
  .text-title {
    margin: 0 0 20px;
  }
  header {
    padding: 10px 0;
  }
  header .phone {
    font-size: 14px;
  }
  .logo {
    max-width: 170px;
  }
  .header-wrapper {
    padding: 10px;
    border-radius: 10px;
  }
  .schedule {
    font-size: 10px;
  }
  .auto-complection {
    padding: 10px 15px;
    font-size: 10px;
  }
  thead {
    display: none;
  }
  .table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  tbody tr:first-child {
    border: none;
  }
  .table td {
    padding: 8px;
    width: 50%;
  }
  .table td:before {
    content: attr(data-table);
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 500;
  }
  .table .td-pay {
    width: 100%;
  }
  .input-title, .checkbox {
    font-size: 12px;
  }
  .variable-adjustment {
    margin: 0 0 0 4px;
  }
  .radio {
    margin-right: 20px;
  }
  .btn-group, .form-bailiff .btn-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-group .btn, .form-bailiff .btn-group .btn {
    width: 100%;
    margin: 0 0 10px;
  }
  .progress-wrapper {
    padding: 10px 20px;
  }
  .autocomplete-box {
    font-size: 12px;
  }
  .form-bailiff-total {
    padding: 20px;
  }
  .details-payments__order-head {
    margin: 0 0 14px;
    padding: 0 0 14px;
  }
  .details-payments__order-footer {
    margin: 14px 0 0;
    padding: 14px 0 0;
  }
  .btn {
    font-size: 14px;
  }
  .working-box .advantages-box__icon {
    width: 48px;
    height: 48px;
    min-width: 48px;
    padding: 10px;
  }
  .for-whot-box h3 {
    max-width: none;
  }
  footer {
    padding: 30px 0 0;
    margin: 30px 0 0;
  }
  footer .description-text {
    margin: 20px 0 0;
  }
  footer .header-contacts {
    width: 100%;
    margin: 0 0 10px;
    text-align: left;
  }
  footer .header-contacts .phone {
    margin-left: 0;
  }
  footer .menu li {
    margin: 0 0 5px;
    width: 100%;
  }
  footer .logo {
    margin: 0 0 20px;
    max-width: 200px;
  }
  footer .description-text {
    text-align: left;
  }
  .contacts-page {
    margin: 0;
  }
  .wrapper-page {
    padding: 30px 20px;
  }
  .wrapper-page .box-text {
    font-size: 16px;
  }
  .wrapper-page .box-text p {
    margin: 0 0 16px;
  }
  .wrapper-page .box-text p:last-child {
    margin: 0;
  }
  .wrapper-page .box-text ul, .wrapper-page .box-text ol {
    margin: 16px 0;
  }
  .wrapper-page .box-text h3 {
    margin: 0 0 16px;
    font-size: 20px;
  }
  .wrapper-page .box-text h4 {
    font-size: 18px;
    margin: 0 0 12px;
  }
  .status-description {
    padding: 20px;
    margin: 20px 0 0;
  }
  .status-description h4 {
    font-size: 18px;
  }
  .section-status .text-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .form-bailiff-total .details-payments-list .details-payments-list__name {
    max-width: 120px;
  }
  .form-bailiff-total .details-payments-list li {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media only screen and (max-width: 420px) {
  .logo {
    max-width: 120px;
  }
  .btn-burger {
    margin: 0 10px 0 0;
  }
  .schedule {
    font-size: 7px;
  }
  header .phone {
    font-size: 12px;
  }
  .reviews-box h3 {
    font-size: 16px;
  }
}